 @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

 /*browser reset*/
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 /*Font family and background gradient*/ 
 body {
    font-family: 'Nanum Pen Script', cursive;
    background-image: linear-gradient(to right,#d09fe9, #d2ffcf, 
    #da83ae);
    color: #222222;
 }
 h1 {
  font-size: 65px;
  padding: 30px 0 0 30px;
 }
/*Styling of input field and add button*/
 .container {
   margin: auto;
   margin-top: 120px;
   width: 50%;
   border-radius: 6px;
 }
 #newitem {
   position: relative;
   padding-bottom: 30px;
 }
 #newitem input {
   position: relative;
   width:75%;
   height: 45px;
   font-size: 25px;
   border-radius: 6px;
   border: #d09fe9 solid 3px;
   font-family: 'Nanum Pen Script', cursive;
   padding: 8px;
   text-transform: capitalize;
   margin-bottom: 30px;
}
#newitem button {
    position: relative;
    float:right;
    width: 20%;
    height: 45px;
    background-color: white;
    border: #d09fe9 solid 3px;
    color: #222222;
    font-weight: bold;
    border-radius: 6px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
}
#newitem button:hover {
    background-color: #d2ffcf;
    color: #d09fe9;
    border: #222222 solid 3px;
}
/*Styling of to do list items*/
.item {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: auto;
  font-size: 30px;
  text-transform: capitalize;
  border-radius: 6px;
  border: #d09fe9 solid 3px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}
#date {
  font-size: 50px;
  padding-left: 30px;
}
#modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.info {
  position: static;
  border: 5px solid #da83ae;
  background-color: white;
  border-radius: 6px;
  margin: 50px 50px 50px;
  padding: 20px;
  text-align: center;
  justify-content: center;
  line-height: 40px;
}
.modaltitle {
  font-size: 45px;
  color: #da83ae;
  margin: 0;
}
.info p {
  font-size: 30px;
}
.info button {
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin: 10px auto;
  background-color: #da83ae;
  text-decoration: none;
  border-radius: 6px;
  font-size: 25px;
  border: #222222 solid 3px;
  color: white;
  cursor: pointer;
  padding: 5px;
}
.info button:hover {
  background-color: white;
  color: #da83ae;
  border: #222222 solid 3px;
}
/*404 page styling*/
.message {
  text-align: center;
  font-family: roboto;
}
.message p {
  line-height: 50px;
}
.message a {
  text-decoration: none;
  color: #222222;
  font-size: 20px;
}
.message a:hover {
  color: #da83ae;
}
/* Media queries for mobile tablet and smaller screens*/
/* for screens size from 605px wide and down */
@media screen and (max-width: 605px) {
  h1 {
    font-size: 40px;
  }
  #date {
    font-size: 40px;
  }
 .container {
  margin-top: 80px;
  width: 100%;
 }
 #newitem input {
  width: 75%;
  margin-left: 10px;
 }
 #newitem button {
  width: 20%;
  margin-right: 10px;
 }
 .item {
  margin-left: 10px;
  margin-right: 10px;
  width: 96%
 }
}
/* for screens size from 464px wide and down */
@media screen and (max-width: 464px) {
  .info {
    margin: 25px 25px 25px;
    padding: 5px;
  }
}
/* for screens size from 400px wide and down */
@media screen and (max-width: 400px) {
  #newitem button {
    width: 20%;
    position: fixed;
  }
  .container {
    margin-top: 60px;
  }
}
/* for screens size from 280px wide and down */
@media screen and (max-width: 280px) {
  .info {
    margin: 10px;
  }
}
