 @import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

 /*browser reset*/
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body {
    font-family: 'Nanum Pen Script', cursive;
    background-image: linear-gradient(to right,#d09fe9, #d2ffcf, 
    #da83ae);
    color: #212121;
 }

 h1 {
  font-size: 80px;
  padding: 30px 0 0 30px;
 }

 .container {
   margin: auto;
   margin-top: 150px;
   width: 50%;
   border-radius: 6px;
 }

 #newitem {
   position: relative;
   padding-bottom: 30px;
 }

 #newitem input {
   position: relative;
   width:75%;
   height: 45px;
   font-size: 25px;
   border-radius: 6px;
   border: #d09fe9 solid 3px;
   font-family: 'Nanum Pen Script', cursive;
   padding: 10px;
}

#newitem button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    background-color: white;
    border: #d09fe9 solid 3px;
    color: #212121;
    font-weight: bold;
    border-radius: 6px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
}

#newitem button:hover {
    background-color: #d2ffcf;
}

#tasks {
    width: 100%;
    position: relative;
    margin-top: 10px;
    padding: 30px 20px;
    border-radius: 6px;
    background-color: white;
    border: #d09fe9 solid 3px;
}

.task {
  background-color: white;
  font-size: 40px;
  text-transform: capitalize;
}